.v-barchart {
	padding: 0;
	margin: 0;	
}

.v-barchart div, .v-barchart div svg {
	padding: 0;
	margin: 0;	
}

.v-barchart .vchart-left-label {
	text-align: left;
	padding-right: 2px;
}

.v-barchart .vchart-bottom-label {
	padding-top: 2px;
	text-align: center;
	overflow: hidden;
}

.v-barchart .hchart-left-label {
	padding-top: 20px;
}

.v-barchart .hchart-bottom-label {
	padding-top: 2px;
	text-align: center;
	overflow: hidden;
}

